html,
body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: scroll;
    background:#fff url(../img/bg.jpg) no-repeat fixed center;
    background-size:cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: rgba(238, 238, 238, 0.9);
    border-color:transparent;
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.9);
    text-align: center;
}

@media(max-width:767px){
    .img-index{
        max-height:150px;
    }
}
@media(min-width:768px){
    .img-index{
        max-height:325px;
    }
}
@media(min-width:992px){
    .img-index{
        max-height:450px;
    }
}
@media(min-width:1200px){
    .img-index{
        max-height:570px;
    }    
}