html,
body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    font-family: 'IM Fell Great Primer', serif;
    overflow-y: scroll;
    background:#fff url(../img/bg.jpg) no-repeat fixed center;
    background-size:cover;
}

.navbar {
    background-color: rgba(238, 238, 238, 0.9);
    border-color:transparent;
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.9);
    text-align: center;
}