html,
body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    font-family: 'Lobster', cursive;
    overflow-y: scroll;
    background:#9CBAB3;
}

.navbar {
    background-color: rgba(238, 238, 238, 0.7);
    border-color:transparent;
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.7);
    text-align: center;
}

.jumbotron p {
    font-size: 1.2em;
}

.minitron {
    background-color: rgba(238, 238, 238, 0.7);
    text-align: center;
    padding: 40px 15px;
}

/* for easier to read paragraphs */
.paragraph-kfkkail {
    text-align: left;
    font-family: sans-serif;
}