html,
body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: scroll;
    background:#fff url(../img/bg.jpg) no-repeat fixed center;
    background-size:cover;
}

.navbar {
    background-color:transparent;
    border-color:transparent;
}

.paragraph {
    padding-top: 70px;
}